@charset "UTF-8";

@font-face {
    font-family: Reddit-Sans;
    src: url(../fonts/RedditSans-VariableFont_wght.ttf) format('truetype');
}

:root {
    --color: #2980b9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Reddit-Sans, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--color);
}

.wrapper {
    width: 500px;
    padding: 50px;
    text-align: center;
    background: #fff;
    border-radius: 5px;
}

.wrapper h1 {
    font-size: 3.5em;
    font-weight: 500;
}

.wrapper h3 {
    font-size: 1.2em;
}

.wrapper form {
    margin-top: 30px;
}

form .input-group .input-area{
    position: relative;
}

form input {
    height: 40px;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 15px;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    margin-top: 4px;
}

form input::placeholder{
    color:#bfbfbf;
    font-size: 15px;
}

form .input-group i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}